
<nav class="navbar bg-base-200 shadow-lg">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-xl">Lego Collection</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal">

            <li tabindex="0">
                <a  href="/lego/sets" class="btn btn-primary">View Collection</a>
            </li>
            <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a></li>
        </ul>
    </div>
</nav>