<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="bg-base-200">

    <%- include('partials/navbar', {page: '/404'})  %>

    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-4">404</h1>
        <p class="text-center mb-8">I'm sorry, we're unable to find what you're looking for.

        </p>
    </div>
</body>
</html>