<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="bg-base-200">

    <nav class="navbar bg-base-200 shadow-lg">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost normal-case text-xl">Lego Collection</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about">About</a></li>
                <li tabindex="0">
                    <details>
                        <summary>Theme</summary>
                        <ul class="p-2 bg-base-100 right-1">
                          <li><a href="/lego/sets?theme=Christmas">Christmas</a></li>
                          <li><a href="/lego/sets?theme=Harry Potter">Harry Potter</a></li>
                          <li><a href="/lego/sets?theme=Kingdoms">Kingdoms</a></li>
                        </ul>
                      </details>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-4">404</h1>
        <p class="text-center mb-8">I'm sorry, we're unable to find what you're looking for.

        </p>
    </div>
</body>
</html>